/* Centra el texto en forma vertical de las celdas de las tablas */
.table td {
    vertical-align: baseline;
}

/* Personaliza el icono y nombre del usuario del header */
.user-panel-personalizado {
    display: flex;
    align-items: center;
}

.user-panel-personalizado p {
    margin-bottom: 0;
}

/* Hace las imágenes con un tamaño predeterminado y más pequeñas */
.imagenes-usuarios {
    width: 50px;
}

/* Pone el fondo oscuro en el login y register */
.login-page, .register-page {
    background-color: #1B1B1B;
}

/* El logo y el titulo en las ventanas login y register */
.login-logo > a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imagen-login {
    width: 70px;
}

.campo-obligatorio {
    color: #FF8080;
}

.imagen-mostrar {
    display: block;
    width: 70px;
}

.footer-personalizado {
    color: white;
}

.dark-mode .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    color: black;
}