/* Personaliza todos los enlaces a */
a {
    color: black;
    text-decoration: none;
}

/* Personaliza el icono y nombre del usuario del header */
.user-panel-personalizado {
    display: flex;
    align-items: center;
}

/* Centra el texto en forma vertical de las celdas de las tablas */
.table td {
    vertical-align: baseline;
}

/* Hace las imágenes con un tamaño predeterminado y más pequeñas */
.imagenes-usuarios {
    width: 50px;
}
