/* Hoja de estilos utilizada en ver proyectos */
.proyectos {
    width: 100%;
    border: none;
    border-radius: 20px;
    margin-top: 16px;
    padding: 16px;
    cursor: unset;
    aspect-ratio: unset;
    column-gap: 20px;
}

.informacion-proyecto {
    width: 30%;
}

.informacion-proyecto-ver {
    background-color: unset !important;
}

#tabla-tareas {
    border: 1px solid var(--color-secundario-principal);
    margin-bottom: 16px;
    text-align: center;
}

#titulo-tabla {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}

#tabla-tareas tr td, #tabla-tareas tr th, caption {
    padding: 8px;
}

.enlace-ir-tarea {
    margin-left: 2px;
}

.enlace-ir-tarea:hover {
    color: var(--color-secundario-complementario);
}

.enlace-imagen-perfil {
    color: white;
}

.imagen-proyecto-tarea {
    width: 40%;
    border-radius: 50px;
}

.botones-ver-proyecto {
    margin-top: 10px;
    text-align: center;
}

.boton-proyecto {
    border-radius: 20px;
    background-color: var(--color-secundario-principal);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

.lista-tareas {
    list-style-type: none;
}

.lista-tareas li {
    margin-left: 42px;
}

#formulario-anadir {
    display: none;
}

#titulo-anadir {
    margin-bottom: 6px;
}

#anadirTareaProyecto {
    width: 50%;
    margin-bottom: 10px;
}

.boton-anadir {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 12px;
}

@media only screen and (max-width: 1400px) {
    .imagen-proyecto-tarea {
        width: 100%
    }

    .informacion-proyecto {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .imagen-proyecto-tarea {
        width: 100%
    }

    .informacion-proyecto {
        width: 100%;
    }
}
