/* Hoja de estilos utilizada en ver proyectos */
.proyectos {
    border: none;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    margin-top: 16px;
    padding: 16px;
}

.imagen-perfil-pequena {
    width: 20px;
    border-radius: 25px;
    margin-right: 6px;
}

.botones-proyecto {
    text-align: center;
}

.imagen-proyecto {
    width: 50%;
}

.lista-tareas {
    list-style-type: none;
}

.lista-tareas li {
    margin-left: 42px;
}
