/*Hoja de estilos utilizada en proyectos */
#boton-crear {
    margin-top: 16px;
}

.proyectos-grid {
    width: 99.5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 5fr));
    row-gap: 5px;
    column-gap: 5px;
}

.proyectos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-secundario-principal);
    aspect-ratio: 16/9;
    align-items: center;
    border-radius: 20px;
    margin-top: 16px;
    padding: 16px;
    cursor: pointer;
}

.proyectos-sin-imagen {
    justify-content: right;
}

.proyectos a {
    margin-left: 0.5em;
}

.proyectos p {
    padding: 6px;
}

.imagen-contenedor {
    width: 50%;
}

.proyectos > .informacion-proyecto {
    width: 50%;
    display: flex;
    background-color: rgba(51, 108, 174, 60%);
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 1.5px;
}

.fecha-limite i {
    color: white;
}

.imagen-proyecto {
    width: 100%;
    border-radius: 50px;
}

.botones-proyecto {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
}

.botones-proyecto>a:hover, .botones-proyecto>svg:hover {
    background-color: var(--color-secundario-principal);
}

.botones-proyecto a {
    padding-top: 0.55rem;
    padding-bottom: 0.55rem;
    padding-left: 0.55rem;
    padding-right: 0.55rem;
}

.enlace-imagen-perfil {
    color: white;
}

@media only screen and (max-width: 1400px) {

    .proyectos {
        flex-direction: column;
    }

    .proyectos-sin-imagen {
        justify-content: center;
    }
}


@media only screen and (max-width: 600px) {

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .proyectos-grid {
        width: 100%;
        margin: 0px;
        display: block;
    }

    .proyectos {
        width: 94%;
        margin-left: 0px;
        flex-direction: column;
        padding: 0px;
    }

    .botones-proyecto {
        column-gap: 6px;
    }
}
