/* Hoja de estilos que es usada en contacto */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

li {
    list-style-type: none;
}

#formas-contacto-mapa-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 26px;
}

#contenedor-preguntas {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 26px;
}

#contacto {
    margin-bottom: 1rem;
}

.pregunta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    margin:16px;
    border: 1px solid var(--color-secundario-principal);
    border-radius: 25px;
    line-height: 1.5em;
}

#formas-contacto-titulo {
    margin-bottom: 16px;
}

#formas-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 6px;
}

#formas-contacto p {
    margin-bottom: 16px;
    font-size: 20px;
}

#formas-contacto svg {
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    #formas-contacto-mapa-contenedor {
        flex-direction: column;
    }
    
    #formas-contacto {
        margin-bottom: 8px;
    }
    
    #formas-contacto p {
        margin-bottom: 4px;
    }
    
    #mapa iframe {
        width: 90%;
    }
}