/*Hoja de estilos utilizada en proyectos */
#boton-crear {
    margin-top: 16px;
}

.proyectos-grid {
    display: grid;
    margin: 16px;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
}

.proyectos, .proyectos-sin-imagen {
    display: flex;
    border: 1px var(--color-secundario-principal) solid;
    border-radius: 20px;
    margin-top: 16px;
    padding: 16px;
}

.proyectos-sin-imagen {
    justify-content: center;
}

.proyectos p, .proyectos a, .proyectos-sin-imagen p, .proyectos-sin-imagen a {
    margin-left: 16px;
    margin-bottom: 6px;
    color: white;
}

.proyectos p, .proyectos-sin-imagen p {
    padding: 6px;
}
.informacion-proyecto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#texto-personal {
    margin-top: 16px;
}

.imagen-proyecto {
    width: 30%;
    border-radius: 50px;
}

.botones-proyecto {
    margin-top: 16px;
    margin-bottom: 16px;
}

.botones-proyecto a {
    padding: 8px;
}
