/* Hoja de estilos que es usada de forma general */
/* Descarga la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

:root {
    --color-primario: #1B1B1B;
    --color-secundario-principal: #2B478E;
    --color-secundario-complementario: #336CAE;
}

/* Elementos HTML */

html, body {
    height:100%;
}

body {
    margin:10px;
    background-color: var(--color-primario);
}

a {
    color: white;
    text-decoration: none;
}

:not(h1, h2, h3, h4, h5, h6) {
    font-family:  Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

/* NAV */

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin:2px;
    background-color: var(--color-secundario-principal);
}

.botones:hover, nav ul li a:hover {
    background-color: var(--color-secundario-complementario);
}

#logo {
    display: flex;
    align-items: center;
    width: 300px;
}

#logo h2 {
    margin-left: 6px;
}

#perfil-cerrar {
    display: flex;
    align-items: center;
    width: 300px;
}

#perfil {
    display: flex;
    align-items: center;
}

.enlace-perfil {
    display: flex;
    align-items: center;
}

#perfil img {
    margin-left: 10px;
    width: 50px;
    border-radius: 50px;
}

#perfil p {
    margin-left: 10px;
    margin-right: 10px;
}

/* MAIN */

main {
    position: relative;
    min-height: 80vh;
}

input, select, option, textarea {
    color: black;
    outline: var(--color-secundario-principal);
}

#introduccion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px;
}

.apartados {
    margin-top: 16px;
    text-align: center;
}

.titulos {
    margin-bottom: 16px;
}

.botones {
    border-radius: 20px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color-secundario-principal);
    border: var(--color-secundario-complementario);
    text-align: center;
    transition: background-color 1s;
    color: white;
}

.botones :hover {
    background-color: var(--color-secundario-complementario);
}

.imagenes-pequenas {
    width: 36px;
}

.campo-obligatorio, .texto-error {
    color: #FF8080;
}

.color-circulo {
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 6px;
    margin-left: 6px;
}

.enlace-imagen-perfil {
    color: var(--color-secundario-principal);
}

/* Divs cuando hay alguna alerta como por ejemplo al borrar un proyecto o tarea */

.alerta-success, .alerta-danger {
    padding: 16px;
    border-radius: 25px;
}

.alerta-success {
    background-color: #229954;
}

.alerta-danger {
    background-color: #CB4335;
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(90deg, rgba(51,108,174,1) 0%, rgba(9,9,121,1) 45%, rgba(43,71,142,1) 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 16px;
    margin-right: 16px;
    position: absolute;
    left: 0;
    width: 100%;

}

footer a > i {
    font-size: 26px;
}

#iconos-footer i {
    margin-left: 8px;
}

.logo-enlace {
    display: flex;
    align-items: center;
}

.logo-enlace h2 {
    margin-left: 10px;
}
