/* Hoja de estilos utilizada en ver proyectos */
#tabla-tareas {
    border: 1px var(--color-secundario-principal) solid;
    text-align: center;
}

#titulo-tabla {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}

#tabla-tareas tr td, #tabla-tareas tr th, caption {
    padding: 8px;
}

.enlace-ir-tarea {
    margin-left: 2px;
}

.enlace-ir-tarea:hover {
    color: var(--color-secundario-complementario);
}

.enlace-imagen-perfil {
    color: white;
}
