#main-introduccion {
    text-align: center;
}

.apartados-inicio {
    margin-bottom: 16px;
}

#div-caracteristicas {
    margin-top: 20px;
    text-align: center;
}

#contenedor-botones-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.botones-inicio {
    padding-right: 1em;
    padding-left: 1em;
}

#main-caracteristicas {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    margin: 10px;
}

.imagen-caracteristicas img {
    border: 1px solid var(--color-secundario-principal);
    border-radius: 20px;
    width: 100%;
}

.caracteristicas-texto {
    width: 90%;
}

#resenas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
    justify-content: center;
    row-gap: 16px;
}

.imagenes-resenas {
    border-radius: 25px;
}

.resena {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1670px) {
    #resenas-grid {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}

@media only screen and (max-width: 600px) {
    #resenas-grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
