/*Hoja de estilos utilizada en tareas */
#boton-crear {
    margin-top: 16px;
}

#tareas-grid {
    display: flex;
    text-align: center;
    line-height: 1em;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    margin-top: 26px;
    cursor: grab;
}

.columnas {
    display: flex;
    flex-direction: column;
}

.tareas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px;
    border-radius: 20px;
    text-align: center;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    align-content: center;
    align-items: center;
}

.imagen-tarea {
    width: 260px;
    border-radius: 20px;
}

.fecha-limite i {
    color: black;
}

.informacion-tarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px;
    width: 16em;
}

.informacion-tarea p {
    color: black;
    margin-bottom: 8px;
}

.botones-filtros {
    background-color: var(--color-secundario-complementario);
}

.enlace-imagen-perfil-tarea {
    display: flex;
    align-items: center;
    color:black;
    font-weight: bold;
}

.botones-tareas {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.botones-tareas i {
    margin-right: 10px;
}

.botones-tareas a svg {
    margin-right: 6px;
}

@media only screen and (max-width: 900px) {
    #tareas-grid {
        flex-direction: column;
    }
}
