/*Hoja de estilos utilizada en perfil */
input, textarea {
    border-radius: 20px;
    border: 1px var(--color-secundario-principal) solid;
    padding: 6px;
}

label, input, textarea {
    text-align: center;
}

main {
    min-height: 82vh;
}

#introduccion {
    justify-content: center;
}

#introduccion h1 {
    width: unset;
}

#contenido-principal {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 30px;
}

#contenido-principal form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.apartados-inicio {
    font-size: 32px;
    margin-bottom: 16px;
}

.apartados-inicio-editar {
    font-size: 32px;
}

#imagen-perfil {
    width: 70%;
    border-radius: 50px;
}

#imagen-editar {
    display: flex;
    width: 20%;
    align-items: center;
    flex-direction: column;
}

#imagen-editar img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

#informacion-adicional {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

#informacion-adicional > p {
    line-height: 2em;
}

#informacion-usuario, #informacion-usuario-editar {
    display: flex;
    width: 30%;
    flex-direction: column;
}

#informacion-usuario-editar {
    align-items: center;
}

#informacion-usuario-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#informacion-usuario-formulario > form {
    width: 70%;
}

#informacion-usuario > p, #informacion-usuario-editar > p {
    margin-bottom: 16px;
    line-height: 1em;
}

#informacion-usuario {
    text-align: left;
}

#contenedor-estadisticas-usuario {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
}

#fecha-nacimiento {
    display: flex;
    align-items: center;
}

#fecha-nacimiento > input {
    width: 100%;
}

.campo-formulario {
    width: 96% !important;
}

.estadistica-usuario {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secundario-complementario);
    padding: 16px;
    border-radius: 20px;
}

.estadistica-usuario-clickable {
    cursor: pointer;
}

.estadistica-usuario-contraste > p {
    color: black;
}

#estadistica-usuario-apartado {
    display: flex;
    flex-direction: column;
}

.botones-perfil {
    padding-left: 2em;
    padding-right: 2em;
}

#boton-borrar {
    background-color: #c0392b;
}

#informacion-pie-contenedor {
    margin-top: 20px;
}

#informacion-pie {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

#informacion-pie-editar {
    display: flex;
    justify-content: center;
}

#editar-avatar {
    margin-top: 16px;
    text-align: center;
}

#informacion-usuario-editar {
    text-align: center;
}

.confirmar-editar {
    width: 60%;
}

/* MODAL BOOTSTRAP */
.modal, .modal p, .modal h1, .modal h2, .modal h3, .modal h4, .modal h5, .modal h6 {
    color: black;
}

@media only screen and (max-width: 1600px) {
    #imagen-editar {
        width: 40%;
    }

    #informacion-usuario-editar {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    #contenido-principal {
        flex-direction: column;
        align-items: center;
    }

    #imagen-editar {
        width: 100%;
    }

    #informacion-usuario, #informacion-usuario-editar {
        align-items: center;
        width: 100%;
    }

    #informacion-usuario > p, #informacion-usuario-editar > p {
        text-align: center;
    }

    .apartados-inicio {
        text-align: center;
    }

    .botones-perfil {
        padding-left: 1em;
        padding-right: 1em;
    }

    #informacion-pie {
        width: 100%;
    }
}